@font-face {
    font-family: 'Jellyka Delicious Cake';
    src: url('../fonts/jellyka-webfont.eot');
    src: url('../fonts/jellyka-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jellyka-webfont.woff2') format('woff2'),
         url('../fonts/jellyka-webfont.woff') format('woff'),
         url('../fonts/jellyka-webfont.ttf') format('truetype'),
         url('../fonts/jellyka-webfont.svg#jellyka_delicious_cakeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #200;
	background-color: #FDF2D5;
	max-width: 700px;
	margin: 0 auto;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Jellyka Delicious Cake';
	font-size: 100%;
	line-height: 1 !important;
	margin-bottom: 15px;
	margin-top: 50px;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }

hr {
	width: 80%;
	margin: 10px 10% !important;
	border: 0;
    height: 1px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #eee, #bbb, #eee); 
    background-image:    -moz-linear-gradient(left, #eee, #bbb, #eee); 
    background-image:     -ms-linear-gradient(left, #eee, #bbb, #eee); 
    background-image:      -o-linear-gradient(left, #eee, #bbb, #eee); 
}

.menu {
	font-size: 18px;
	font-weight: 400;
	margin: 15px;
	margin-left: 130px;
	line-height: 1;
}

.glyph {
	position: absolute;
	background: url(../assets/glyph.jpg);
	width: 80px;
	height: 100%;
	margin: 0;
	top: 0;
	background-size: cover;
	position: fixed;
}

.logo {
	font-family: 'Jellyka Delicious Cake';
	text-align: right;
	margin-top: 35px;
	margin-bottom: 15px;
	font-size: 2.2em;
}

@media screen and (max-width: 600px) {
    
    .menu {
		margin-left: 80px;
	}
	
	h1, h2 {
		font-size: 2em;
	}
	
	.logo {
		margin-right: 10px;
		font-size: 1.7em;
	}
}

/* PDF - weasyprint */

.menuParagraph{
	page-break-inside: avoid;
	margin-bottom: 30px;
}

.menuParagraph p{
	margin-top: 10px;
	margin-bottom: 10px;
}
	
.pdf-spacing {
	display: none;
}

@page {
    margin: 0cm;
    padding-left: 1cm;
    padding-right: 1.5cm;
}

@media print {

	body {
		max-width: 100%;
	}
	
	.logo {
		position: fixed;
		bottom: 0;
		right: 0;
	}
	
	.pdf-spacing {
		display: block;
	}
	
	.page-break{
		page-break-before: always;
	}
}
